<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= product.name %></title>
  <meta property="og:title" content="<%= product.name %>" />
  <meta property="og:description" content="<%= product.description %>" />
  <meta property="og:image" content="<%= product.imageUrl %>" />
  <meta property="og:url" content="<%= product.url %>" />
  <meta property="og:type" content="product" />
</head>
<body>
  <h1><%= product.name %></h1>
  <p><%= product.description %></p>
  <img src="<%= product.imageUrl %>" width="300" />
</body>
</html>
